@import '../../../../assets/styles/palette.scss';

.overview {  
  height: 100%;
  overflow: hidden;
  
  display: flex;

  .abstract {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    width: 25%; height: 100%;

    padding: 20px;

    border-right: 1px solid $gray;

    .abstract-item {
      border-bottom: 1px solid $gray;
      padding-bottom: 20px;
    }

    .project-infos {
      display: flex;
      justify-content: space-between;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-left: 20px;

    .important-tasks {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .comments {
      display: flex;
      flex-direction: column;
      gap: 20px;
      
      width: 100%;
    }
  }
}