@import '../../../../assets/styles/palette.scss';

.overview {  
  height: 100%;
  overflow: hidden;
  
  display: flex;

  .abstract {
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    width: 35%; height: 100%;

    padding: 20px;

    border-right: 1px solid $gray;

    .abstract-item {
      display: flex;
      flex-direction: column;
      gap: 12px;

      border-bottom: 1px solid $gray;
      padding-bottom: 40px;
    }

    .project-infos {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      padding-bottom: 120px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    margin-left: 20px;

    .important-tasks {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .comments {
      display: flex;
      flex-direction: column;
      gap: 20px;

      overflow: hidden;

      width: 100%;
      height: 100%;

      #cards {
        overflow: scroll;
      }
    }
  }
}