<div class="overview">
  <div class="abstract">
    <div class="abstract-item project-infos">
      <div id="leading">
        <tsk-title>Project name</tsk-title>
        <tsk-text>description</tsk-text>
      </div>
      <badge content="Pending"/>
    </div>
    <div class="abstract-item">
      <tsk-label>Owner</tsk-label>
      <user/>
    </div>
    <div class="abstract-item">
      <tsk-label>Due date</tsk-label>
      <tsk-date-badge/>
    </div>
  </div>
  <div class="content">
    <project-menu />
    <div class="important-tasks">
      <tsk-title>Most important</tsk-title>
      <scroller axis="horizontal">
        @for (task of tasks; track task) {
          <task-card/>
        }
      </scroller>
    </div>
    <div class="comments">
      <tsk-title>Comments</tsk-title>
      <div>
        @for (task of tasks; track task) {
          <comment-card/>
        }
      </div>
    </div>
  </div>
  <important-dates id="important-dates"/>
</div>