.page {
  display: grid;
  grid-template: "appbar appbar" min-content
                 "navbar content" / auto 1fr auto;

  .content {
    grid-area: content;
    // border: 1px solid purple;
  }

  #navbar {
    grid-area: navbar;
  }

  #appbar {
    grid-area: appbar;
  }
}