@import '../../../../assets/styles/palette.scss';

.badge {
  font-weight: 600;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 50px;

  width: fit-content;
}

.red {
  background-color: $lightRed;
}

.blue {
  background-color: $light_blue;
}