/* You can add global styles to this file, and also import other style files */

// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "./assets/styles/palette.scss";

.page {
  h6 {
    font-weight: 600;
  }
  width: 100vw; height: 100vh;
  background-color: $content;

  .content {
    height: 100%; width: 100%;
    overflow: hidden;
    // border: 1px solid purple;
  }
}