<div class="nav-bar">
  <nav>
    <button class="nav-item" type="button" (click)="go('workspace')">
      <ng-icon name="heroWindowSolid" size="18"></ng-icon>
      Workspace
    </button>
    <button class="nav-item" type="button" (click)="go('projects')">
      <ng-icon name="heroInboxStackSolid" size="18"></ng-icon>
      Projects
    </button>
    <button class="nav-item" type="button" (click)="go('inbox')">
      <ng-icon name="heroChatBubbleOvalLeftSolid" size="18"></ng-icon>
      Inbox
    </button>
    <button class="nav-item" type="button" (click)="go('affiliations')">
      <ng-icon name="heroUsersSolid" size="18"></ng-icon>
      Affiliations
    </button>
  </nav>
  <div class="actions">
    <button class="nav-item">
      <ng-icon name="heroCog6ToothSolid" size="18"></ng-icon>
      Settings
    </button>
    <button class="nav-item log-out">
      <ng-icon name="heroArrowLeftStartOnRectangleSolid" size="18"></ng-icon>
      Logout
    </button>
  </div>
</div>