@import '../../../../assets/styles/palette.scss';

.important-dates {
  display: flex;
  flex-direction: column;
  gap: 22px;

  padding: 20px;
  width: 320px; height: 100%;
  background-color: $tool_bars;

  overflow: hidden;

  #scroller {
    display: flex;
    flex-direction: column;
    gap: 22px;

    overflow-y: scroll;

    #month {
      display: flex;
      flex-direction: column;
      gap: 12px;
  
      margin-left: 20px;
  
      #tag {
        color: $gray;
        font-weight: 500;
        font-size: 14px;
      }
  
      #event {
        display: flex;
        gap: 12px;
  
        h6 {
          padding: 12px;
          border-left: 2px solid $blue;
        }

        #day {
          text-align: center;
        
          #name {
            font-weight: 600;
            font-size: 14px;
          }
        }
      }
    }
  }
}