.events {
  display: flex;
  flex-direction: column;
  gap: 20px;

  height: 100%;

  #header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }

  #calendar {
    height: 100%;
    overflow: hidden;
  }
}