@import '../../../../assets/styles/palette.scss';

.project-card {
  display: flex;
  justify-content: space-between;

  padding: 16px;

  width: 320px; height: 200px;

  border-radius: 6px;

  background-color: $items;

  .tsk-leading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .tsk-trealing {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }
}