@import '../../../../assets/styles/palette.scss';

.app-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  padding: 21.5px 20px;

  background-color: $tool-bars;

  .logo {
    // border: 1px solid;

    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    align-items: center;

  
    h6 { font-size: 24px; }

    .icon-logo {
      width: 52px; height: 42px;

      background-image: url('../../../../assets/icons/favicon.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }

  .user-infos {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;

    align-items: center;

    // border: 1px solid;

    .avatar {
      width: 52px; height: 52px;

      background-color: $items;

      border-radius: 9999px;
    }
  }
}