@import '../../../../../assets/styles/palette.scss';

#day {
  padding-bottom: 20px;

  border-bottom: 2px solid $items;

  cursor: pointer;

  #accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px;

    p {
      display: flex;
      align-items: center;
      gap: 6px;

      font-weight: 600;
      font-size: 14px;
      color: $gray;  
    }

    .activated {
      color: white;
    }
  }

  .content-off {
    display: none;
  }

  .content-on {
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-bottom: 40px;
  }
}
