@import '../../../../assets/styles/palette.scss';

:host {
  border-radius: 99999px;
  
  overflow: hidden;

  cursor: pointer;

  .indicator {
    padding: 2px;
    outline: 2px solid $blue;
    border-radius: 9999px;
  }

  .avtr-small {
    border-radius: 99999px;
    background-color: $gray;
    height: 32px; width: 32px;
  }
  
  .avtr-medium {
    border-radius: 99999px;
    background-color: $gray;
    height: 52px; width: 52px;
  }
  
  .avtr-large {
    border-radius: 99999px;
    background-color: $gray;
    height: 124px; width: 124px;
  }
}
