@import '../../../../assets/styles/palette.scss';

:host {
  #project {
    display: grid;
    grid-template-columns: .75fr .25fr .25fr .25fr .25fr;
    align-items: center;
    border-top: 1px solid $items;
  }

  #project > * {
    padding: 20px;
  }
}