<div class="login-form">
  <h2>LOGIN</h2>
  <form action="#">
    <div class="inputs">
      <form-input icon="heroUserSolid" placeholder="username"></form-input>
      <form-input icon="heroKeySolid" placeholder="password"></form-input>
    </div>
    <button type="button" (click)="login()" class="login-btn">Login</button>
  </form>
  <div class="create-account">
    <div class="label">
      <div class="divider"></div>
      <p>OR</p>
      <div class="divider"></div>
    </div>
    <button class="create-account-btn">Create account</button>
  </div>
</div>