<div class="content">
  <div class="recent">
    <tsk-title>Recent</tsk-title>
    <scroller axis="horizontal">
      @for (project of projects; track $index) {
        <project-card />
      }
    </scroller>
  </div>

  <div class="friends">
    <tsk-title>Online</tsk-title>
    <div id="scroller">
      @for (project of projects; track $index) {
        <user/>
      }
    </div>
  </div>

  <div class="week">
    <tsk-title>To this Week</tsk-title>
    <div id="scroller">
      @for (project of projects; track $index) {
        <task-card/>
      }
    </div>
  </div>
</div>
