@import '../../../assets/styles/palette.scss';

.content {
  display: grid;
  grid-template: "recent friends"
                 "week friends" / 1fr .25fr;

  // border: 1px solid purple;

  .recent {
    grid-area: recent;
    
    overflow-x: hidden;
    
    // border: 1px solid green;
    
    padding: 30px 0px 0px 20px;
  }

  .friends {
    grid-area: friends;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px 0px 0px 20px;
    
    background-color: $tool_bars;
  
    // border: 1px solid yellow;

    overflow-y: hidden;
  }

  .week {
    grid-area: week;

    display: flex;
    flex-direction: column;
    gap: 20px;

    width: fit-content; height: 100%;

    overflow: hidden;

    padding: 20px 0px 0px 20px;
  }

  #scroller {
    display: flex;
    flex-direction: column;
    gap: 12px;

    height: 100%;

    padding: 3px 20px;
    padding-bottom: 20px;

    overflow-y: scroll;
  }
}