<div class="project-menu">
  <button (click)="gotTo('overview')">
    <ng-icon name="heroWindowSolid" size="20"></ng-icon>
    Overview
  </button>
  <button (click)="gotTo('tasks')">
    <ng-icon name="heroClipboardSolid" size="20"></ng-icon>
    Tasks
  </button>
  <button (click)="gotTo('members')">
    <ng-icon name="heroUserGroupMini" size="20"></ng-icon>
    Members
  </button>
  <button (click)="gotTo('calendar')">
    <ng-icon name="heroCalendarSolid" size="20"></ng-icon>
    Calendar
  </button>
</div>