@import '../../../../assets/styles/palette.scss';

.project-menu {
  margin-top: 20px;
  
  grid-area: project-menu;
  display: flex;
  
  button {
    display: flex;
    gap: 8px;
    align-items: center;
    
    padding: 10px;

    font-weight: 600;

    background: none;

    border-right: 2px solid $gray;
  }
}