@import '../../../../assets/styles/palette.scss';

:host {
  width: 100%;

  .search-field {
    display: flex;
    gap: 30px;
  
    width: 100%;
  
    padding: 10px 20px;
    border-top: 2px solid $items;
    border-bottom: 2px solid $items;
  
    #search {
      display: flex;
      gap: 10px;
  
      width: 100%;
  
      align-items: center;
      
      border-right: 2px solid $items;
  
      input, input:focus {
        background: none;
        outline: none;
        width: 100%;
      }
      input::placeholder {
        opacity: 100%;
        color: white;
        font-weight: 500;
      }
    }
  
    button {
      display: flex;
      gap: 10px;
  
      width: min-content;
  
      background: none;
  
      font-weight: 600;
    }
  }
}

