@import '../../../assets/styles/palette.scss';

.logo {
    width: fit-content;

    display: grid;
    grid-auto-flow: row;
    gap: 25px;

    .logo-img {
      width: 330px; height: 75px;
      
      background-image: url("../../../assets/images/logo.svg");
      background-size: cover;
      background-position: center;
    }
    span {
      text-align: center;
      letter-spacing: 12px;
    }
}