@import "../../../../assets/styles/palette.scss";

:host {
  width: 100%;
}

.progress {
  display: grid;
  grid-template: "progress-bar progress-bar" min-content
                 "state percent" / 172px 1fr;

  gap: 6px;

  width: 100%;
  
  font-weight: 600;
  font-size: 14px;

  #state {
    grid-area: state;
  }
  #percent {
    grid-area: percent;
  }
  
  .status {
    grid-area: progress-bar;

    border-radius: 99999px;

    width: 100%; height: 6px;

    background-color: $gray;

    .progress-bar {
      border-radius: 99999px;
      height: 100%;
      background-color: $blue; 
    }
  }
}