<div class="content">
  <div id="profile">
    <div id="bio">
      <h6>Bio</h6>
    </div>
    <div id="projects">
      <h6>Projects</h6>
      <div id="head">
        <div class="head-cell"></div>
        <div class="head-cell">Owner</div>
        <div class="head-cell">Stage</div>
        <div class="head-cell">Doned Tasks</div>
        <div class="head-cell">Members</div>
      </div >
      <div id='body'>
        @for (project of projects; track $index) {
          <project-item />
        }
      </div>
    </div>

  </div>
  <div id="infos">
    <avatar size="large"/>
    <h6 id="name">Name</h6>
    <div id="affiliations">
      <ng-icon name="heroUsersMini"/>
      {{'00'}} Affiliations
    </div>

    <div id="proj-infos">
      <div id="proj-info">
        <h6>Total Projects</h6>
        <p>{{'000'}}</p>
      </div>
      <div id="proj-info">
        <h6>Complete</h6>
        <p>{{'000'}}</p>
      </div>
      <div id="proj-info">
        <h6>In progress</h6>
        <p>{{'000'}}</p>
      </div>
    </div>

    <div id="actions">
      <button type="button" id="invite">Invite</button>
      <button type="button" id="chat">
        <ng-icon name="heroChatBubbleOvalLeftSolid" size="18"/>
      </button>
    </div>
  </div>
</div>