<div class="members">
  <div id="header">
    <project-menu/>
    <create-btn>Add member</create-btn>
  </div>
  <search-field/>
  <div id="team">
    <div id="team-header">
      <div id="header-cell">User</div>
      <div id="header-cell">Role</div>
      <div id="header-cell">Tasks</div>
    </div>
    <div id="body">
      <div id="member">
        <user/>
        <badge content="Owner"/>
        <div id="total-tasks">00 out of 00</div>
      </div>

      @for (members of members; track $index) {
        <div id="member">
          <user/>
          <badge content="Member" color="blue"/>
          <div id="total-tasks">00 out of 00</div>
        </div>
      }
    </div>
  </div>
</div>