@import '../../../assets/styles/palette.scss';

button {
  display: flex;
  width: fit-content;
  border: 1px solid;
  background: none;
}

.form-input {
  display: flex;
  align-items: center;

  width: 330px;

  border-radius: 9999px;
  
  padding: 0px 15px;

  background-color: $items;
  
  input, input:focus {
    width: 100%;
    
    color: white;
    
    outline: none;
    
    border: none;
    
    background: none;

    caret-color: $white;

    padding: 10px 0px;
  }
  input::placeholder {
    font-size: 16px;
    font-family: 'Montserrat';
    color: $white;
  }

  .icon {
    margin-right: 10px;
  }
}