@import '../../../../assets/styles/palette.scss';

.circular-progress {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 72px; height: 72px;
  
  border-radius: 9999px;
  // background: conic-gradient($blue 3.6deg, white 0deg);

  #progress-value {
    position: relative;
    font-size: 18px;
  }
}
.circular-progress::before {
  content: "";
  position: absolute;

  width: 66px; height: 66px;

  border-radius: 9999px;

  background-color: $content;
}