@import '../../../../assets/styles/palette.scss';

.create-project-btn {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 10px;

  background-color: $blue;

  padding: 11px 20px;
  margin: 20px 20px 0px 0px;

  border-radius: 8px;

  font-weight: 600;
}