<div class="calendar">
  <div id="header">
    <h6>{{month.name}}, {{firstDay.year}}</h6>
    <div id="actions">
      <button type="button" (click)="prevMonth()">
        <ng-icon name="heroChevronLeftMini" size="32"></ng-icon>
      </button>
      <button type="button" (click)="nextMonth()">
        <ng-icon name="heroChevronRightMini" size="32" ></ng-icon>
      </button>
    </div>
  </div>
  <div id="weeks">
    <div id="weekdays">
      @for (weekday of weekdays; track $index) {
        <ul id="weekday">
          {{weekday}}
          @for (day of days; track $index) {
            @if (day.weekday === (weekdays.indexOf(weekday)+1)) {
              <li id="day"
                [ngClass]="{
                  'today': day.day === today.day && day.month === today.month,
                  'inactive-day': day.month !== firstDay.month,
                  'active-day': day.month === firstDay.month
                }"
              >
                <p>{{day.day}}</p>
                <div id="indicators">
                  @if (haveTasks) {
                    <ng-icon name="heroClipboardMini"></ng-icon>
                  }
                  @if (haveEvents) {
                    <ng-icon name="heroFlagMini"></ng-icon>
                  }
                </div>
              </li>
            }
          }
        </ul>
      }
    </div>
  </div>
  <div id="events">
    @for (date of days; track $index) {
      <event-accordion [date]="{
        day: date.day.toString(),
        month: month.short,
        year: firstDay.year.toString()
      }"/>
    }
  </div>
</div>