@import '../../../../assets/styles/palette.scss';

.comment-card {
  display: flex;
  gap: 18px;

  overflow: hidden;

  border-radius: 0px 6px 6px 0px;

  width: 100%;

  .indicator {
    background-color: $blue;
    width: 3px;
    margin-right: 6px;

    .flag {
      background-color: $blue;
      width: 6px; height: 6px;
      margin-left: 100%;
      clip-path: polygon(100% 0, 0 0, 0 100%);
    }
  }

  #content {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 16px 0px;

    #message-label {
      display: flex;
    }
  }
}