.scrllr-horizontal {
  display: flex;
  flex-direction: row;
  gap: 12px;

  overflow-x: scroll;

  width: 100%;

  padding: 12px;
}

.scrllr-vertical {
  display: flex;
  flex-direction: column;
  gap: 12px;

  overflow-y: scroll;

  height: 100%;

  padding: 0px 12px;
}