@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  color: white;
  background-color: #0F0E14;
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: white;
}

input {
  border: none;
  &:focus {
    outline: 0;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
}