:root {
  --tskr-green: #26998D;
  --tskr-yellow: #FCAF62;
  --tskr-red: #BC3B4C;
  --tskr-blue: #29449D;
  --tskr-light-blue: #508CEE;

  --gray-50: #56526b;
  --gray-100: #322E43;
  --gray-500: #1D1B27;
  --gray-700: #0F0E14;
  --gray-900: #0B0A0F;

  --glass-gray-50: rgba(106, 101, 134, 0.50);

  --glass-light-blue-25: rgba(80, 140, 238, 0.25);
  --glass-light-blue-50: rgba(80, 140, 238, 0.50);

  --glass-blue-25: rgba(41, 68, 157, 0.25);
  --glass-blue-50: rgba(41, 68, 157, 0.50);

  --glass-green-25: rgba(38, 153, 141, 0.25);
  --glass-green-50: rgba(38, 153, 141, 0.50);

  --glass-red-25: rgba(188, 59, 76, 0.25);
  --glass-red-50: rgba(188, 59, 76, 0.50);

  --glass-yellow-25: rgba(252, 175, 98, 0.25);
  --glass-yellow-25: rgba(252, 175, 98, 0.50);

  --color-success: #29449D;
  --color-success-bg: #edf5f7;
  --color-success-border: rgba(80, 140, 238, 0.25);

  --color-warning: #FCAF62;
  --color-warning-bg: #fffde0;
  --color-warning-border: rgba(252, 175, 98, 0.50);
  
  --color-danger: #BC3B4C;
  --color-danger-bg: #fef2f2;
  --color-danger-border: rgba(188, 59, 76, 0.25);
  
  --color-info: #3d5560;
  --color-info-bg: #e8eced;
  --color-info-border: rgba(61, 85, 96, 0.3);

  --text-primary: #d9d3f8;
  --text-secondary: #b6b0d4;
  --text-muted: #56526b;
  --text-on-dark: #d9d3f8;

  --border-light: rgba(5, 26, 31, 0.08);
  --border-medium: rgba(5, 26, 31, 0.15);
  --border-strong: rgba(5, 26, 31, 0.25);
}